/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Josefin Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', 'Helvectia', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 35%;
    height: 45%;
    line-height: 2rem;
  }
  .footer img {
    height: 30%;
    width: 30%;
  }
}
@media (min-width:1000px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 45%;
    line-height: 1.5rem;
    padding-top: 10px;
  }
  .footer img {
    height: 10%;
    width: 10%;
    padding-bottom: 10px;
  }
}
@media (min-width: 500px) {
  .main-logo {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  h1 {
    font-size: 3.5rem;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .main-story {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0 15px 15px -14px;
  }
  .main-story p {
    color: #00020a;
    font-weight: bolder;
    background-image: url('../images/watered.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .middle-boxed-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .middle-boxed-content .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
    margin: 2%;
  }
  .middle-boxed-content .box img {
    width: 70%;
    height: 200px;
    justify-content: center;
    box-shadow: 0 20px 20px -14px;
  }
  .middle-boxed-content .box h3 {
    font-size: 2.4rem;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  .middle-boxed-content .box button {
    width: 175px;
    height: 35px;
    font-size: 1.8rem;
    color: navy;
  }
  .middle-boxed-content h3 {
    font-size: 1.5rem;
  }
  .middle-boxed-content .btn {
    background-color: #00ff9d;
    margin: 10px 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 25px;
    font-size: 1.5rem;
    border-radius: 10px;
    color: black;
  }
  .middle-boxed-content .btn:hover {
    background-color: #00cc7e;
  }
  .overlay-text {
    background-image: url('../images/snake.jpg');
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay-text p {
    background-size: cover;
    opacity: 1;
    width: 75%;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
  }
}
/* Desktop Media*/
@media (min-width:1000px) {
  .main-logo {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .main-story {
    display: flex;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 20px -14px;
  }
  .main-story p {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #00020a;
    background-image: url('../images/watered.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .main-story h1 {
    font-size: 4rem;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .middle-boxed-content {
    display: flex;
    flex-direction: row;
  }
  .middle-boxed-content .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    margin: 2%;
  }
  .middle-boxed-content .box img {
    max-width: 100%;
    max-height: 250px;
    justify-content: center;
  }
  .middle-boxed-content .box h3 {
    font-size: 2.4rem;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  .middle-boxed-content .box button {
    width: 175px;
    height: 35px;
    font-size: 2rem;
    color: navy;
  }
  .middle-boxed-content h3 {
    font-size: 1.5rem;
  }
  .middle-boxed-content .btn {
    background-color: #00ff9d;
    margin: 10px 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: black;
  }
  .middle-boxed-content .btn:hover {
    background-color: #00cc7e;
  }
  .overlay-text {
    background-image: url('../images/snake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1;
    width: 100%;
  }
  .overlay-text p {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #02040e;
  }
}
