
.footer-option {
         font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
     margin: auto;
    width:100%;
    height:45%;
    line-height: 1.5rem;
    padding-top: 10px;
    padding-bottom: 2%;

        img {
         width: 20%;
         padding-bottom: 10px;
        }

        a {
           padding-left: 2%;
        }

        i {
            font-size: 2rem;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
  
   
    }


    .email {
        width: 80%;
    }
       
   
    

   
    

    .social {
        display: flex;
        width: 20%;
        margin:auto;
        padding-top: 2%;
        justify-content: space-evenly;

        i {
            font-size: 4rem;
            padding-left: 5%;
            
        }

        @media @jd-mobile {
            width: 70%;
        }
    }

 @media @jd-mobile{
     .footer-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width:90%;
        height:45%;
        line-height: 2rem;
            img {
                width: 50%;
                margin-left: 20%;
                }
            }
        }
          
